#bevel {
    -fx-background-color:
            linear-gradient(#3b54f5, #ffffff),
            linear-gradient(#cdd0e1 0%, #d9d9d9 20%, #ffffff 100%),
            linear-gradient(#447ce3 0%, #d8dedf 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0.0, 0, 1);

    /* Adjusting width and height */
    -fx-min-width: 80px;  /* Minimum width */
    -fx-min-height:30px;  /* Minimum height */
    -fx-pref-width: 100px; /* Preferred width */
    -fx-pref-height:30px; /* Preferred height */
}

#bevel:hover {
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#ffffff, #ffffff),
            linear-gradient(#ffffff 0%, #fffcfc 50%, #ffffff 51%, #ffffff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}
